@model EditOrderViewModel
@{
    ViewBag.Title = "拆包审单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vw-chaibao-order vw-order-form" data-page-js="chaibaoorder">
    @Html.Partial("_Nav")
    <h2>@ViewBag.Title</h2>
    <div class="form">
        <input type="hidden" name="ID" id="LblOrderID" value="@Model.Order.ID.Value" />
        <fieldset>
            <legend>采购</legend>
            <div class="row">
                <div class="form-group col-12">
                    <a href="@Model.Order.商品图片" target="_blank">
                        <img src="@Model.Order.商品图片" class="product-image" />
                    </a>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">进货日期：</label>
                    <span>@DP.Txt(Model.Order.进货日期)</span>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">进货数量：</label>
                    <span>@DP.Txt(Model.Order.进货数量)</span>
                </div>
                <div class="form-group col-6" @(Model.Order.高亮.GetValueOrDefault() ? "data-high-light=true" : "")>
                    <label class="static-label">JD订单号：</label>
                    <span id="LblJD订单号">@DP.Txt(Model.Order.JD订单号)</span>
                    <a href="javascript:void(0)" class="btn-copy-clipboard" data-clipboard-target="#LblJD订单号">复制</a>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">货号：</label>
                    <span id="Lbl货号">@DP.Txt(Model.Order.货号)</span>
                    <a href="javascript:void(0)" class="btn-copy-clipboard" data-clipboard-target="#Lbl货号">复制</a>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">店铺名称：</label>
                    <span>@DP.Txt(Model.Order.店铺名称)</span>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">京东价：</label>
                    <span>@DP.Txt(Model.Order.京东价)</span>
                </div>
                <div class="form-group col-12">
                    <label class="static-label">客人地址：</label>
                    <a href="javascript:void(0)" class="btn-copy-clipboard" data-clipboard-target="#Lbl客人地址">复制</a>
                    <div id="Lbl客人地址">@DP.Txt(Model.Order.客人姓名) @DP.Txt(Model.Order.客人电话) @DP.Txt(Model.Order.客人地址)</div>
                </div>
                <div class="form-group col-12">
                    <label class="static-label">SKU及采购备注：</label>
                    <div>@DP.Txt(Model.Order.采购备注)</div>
                </div>
            </div>
        </fieldset>
        @if (Model.Order.已跟进.GetValueOrDefault())
        {
            <fieldset>
                <legend>跟进</legend>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="static-label">来-快递：</label>
                        <span>@DP.Txt(Model.Order.来快递)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">来-快递单号：</label>
                        <span>@Html.Raw(DP.Baidu(Model.Order.来快递单号))</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">发货时间：</label>
                        <span>@DP.Txt(Model.Order.发货时间)</span>
                    </div>
                    <div class="form-group col-12">
                        <label class="static-label">发货备注：</label>
                        <div>@DP.Txt(Model.Order.发货备注)</div>
                    </div>
                </div>
            </fieldset>
        }
        @if (Model.Order.已导入.GetValueOrDefault())
        {
            <fieldset>
                <legend>电话客服导入</legend>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="static-label">导入时间：</label>
                        <span>@DP.Txt(Model.Order.导入时间)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">电话客服：</label>
                        <span>@DP.Txt(Model.Order.电话客服)</span>
                    </div>
                    <div class="form-group col-12">
                        <label class="static-label">电话情况：</label>
                        <span>@DP.Txt(Model.Order.电话备注)</span>
                    </div>
                </div>
            </fieldset>
        }
        @if (Model.Order.已售后.GetValueOrDefault())
        {
            <fieldset>
                <legend>售后</legend>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="static-label">售后操作：</label>
                        <span>@DP.Txt(Model.Order.售后操作)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">售后原因：</label>
                        <span>@DP.Txt(Model.Order.售后原因)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">售后人：</label>
                        <span>@DP.Txt(Model.Order.售后人员)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">售后时间：</label>
                        <span>@DP.Txt(Model.Order.售后时间)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">客人退回单号：</label>
                        <span>@DP.Txt(Model.Order.客人退回单号)</span>
                    </div>
                    <div class="form-group col-12">
                        <label class="static-label">售后备注：</label>
                        <div>@DP.Txt(Model.Order.售后备注)</div>
                    </div>
                </div>
            </fieldset>
        }
        <fieldset>
            <legend>拆包审单</legend>
            <div class="row">
                <div class="form-group col-6">
                    <label for="Ddl审单操作">审单操作：</label>
                    <select class="form-control" id="Ddl审单操作" name="审单操作ID">
                        @foreach (var m in Model.审单操作DataSource)
                        {
                            <option value="@m.ID.Value" @(Model.Order.审单操作ID.GetValueOrDefault() == m.ID.Value ? "selected" : "")>@m.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">转发单号：</label>
                    <input type="text" class="form-control" name="转发单号" id="Txt转发单号" maxlength="50" value="@Model.Order.转发单号" />
                    <span class="validator" id="vd转发单号" data-required="" data-validate-target="#Txt转发单号"><span class="error-message text-danger">此项必填</span></span>
                </div>
                <div class="form-group col-12">
                    <label class="static-label">拆包人员备注：</label>
                    <textarea class="form-control" name="拆包人员备注" id="Txt拆包人员备注">@Model.Order.拆包人员备注</textarea>
                </div>
                <div class="form-group col-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="订单终结" data-type="bool" id="Chk订单终结" @(Model.Order.订单终结.GetValueOrDefault() ? "checked" : "") />
                        <label class="form-check-label" for="Chk订单终结">订单终结</label>
                    </div>
                </div>
                <div class="form-group col-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="高亮" data-type="bool" id="Chk高亮" @(Model.Order.高亮.GetValueOrDefault() ? "checked" : "") />
                        <label class="form-check-label" for="Chk高亮">异常订单</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="BtnSubmit">提交</button>
        </div>
        @if (!string.IsNullOrEmpty(Model.Order.订单修改备注))
        {
            <div class="form-group">
                <label class="static-label">订单修改备注</label>
                <div>@Html.Raw(DP.Txt(Model.Order.订单修改备注, raw: true))</div>
            </div>
        }
    </div>
</div>
