@model EditOrderViewModel
@{
    ViewBag.Title = "电话客服";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vw-dianhuakefu-order vw-order-form" data-page-js="dianhuakefuorder">
    @Html.Partial("_Nav")
    <h2>电话客服</h2>
    <div class="form">
        <input type="hidden" name="ID" id="LblOrderID" value="@Model.Order.ID.Value" />
        <fieldset>
            <legend>采购</legend>
            <div class="row">
                <div class="form-group col-12">
                    <a href="@Model.Order.商品图片" target="_blank">
                        <img src="@Model.Order.商品图片" class="product-image" />
                    </a>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">进货日期：</label>
                    <span>@DP.Txt(Model.Order.进货日期)</span>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">采购人：</label>
                    <span>@DP.Txt(Model.Order.采购人)</span>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">JD订单号：</label>
                    <span>@DP.Txt(Model.Order.JD订单号)</span>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">货号：</label>
                    <span>@DP.Txt(Model.Order.货号)</span>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">店铺名称：</label>
                    <span>@DP.Txt(Model.Order.店铺)</span>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">京东价：</label>
                    <span>@DP.Txt(Model.Order.京东价)</span>
                </div>
                <div class="form-group col-12">
                    <label class="static-label">客人地址：</label>
                    <div>@DP.Txt(Model.Order.客人地址)</div>
                </div>
                <div class="form-group col-12">
                    <label class="static-label">SKU及采购备注：</label>
                    <div>@DP.Txt(Model.Order.采购备注)</div>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">进货数量：</label>
                    <span>@DP.Txt(Model.Order.进货数量)</span>
                </div>
            </div>
        </fieldset>
        @if (Model.Order.已跟进.GetValueOrDefault())
        {
            <fieldset>
                <legend>跟进订单</legend>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="static-label">来-快递单号：</label>
                        <span>@Html.Raw(DP.Baidu(Model.Order.来快递单号))</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">发货时间：</label>
                        <span>@DP.Txt(Model.Order.发货时间)</span>
                    </div>
                    <div class="form-group col-12">
                        <label class="static-label">发货备注：</label>
                        <div>@DP.Txt(Model.Order.发货备注)</div>
                    </div>
                </div>
            </fieldset>
        }
        <fieldset>
            <legend>电话客服导入</legend>
            <div class="row">
                <div class="form-group col-6">
                    <label class="static-label">导入时间：</label>
                    <span>@DP.Txt(Model.Order.导入时间)</span>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">电话客服：</label>
                    <span>@DP.Txt(Model.Order.电话客服)</span>
                </div>
                <div class="form-group col-12">
                    <label class="static-label">电话情况：</label>
                    <input type="text" class="form-control" name="电话备注" id="Txt电话备注" value="@(Model.Order.电话备注)" maxlength="150" />
                    <span class="validator" id="vd电话备注" data-required="" data-validate-target="#Txt电话备注"><span class="error-message text-danger">此项必填</span></span>
                </div>
            </div>
        </fieldset>
        @if (Model.Order.已拆包.GetValueOrDefault())
        {
            <fieldset>
                <legend>拆包审单</legend>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="static-label">审单操作：</label>
                        <span>@DP.Txt(Model.Order.审单操作)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">转发单号：</label>
                        <span>@DP.Txt(Model.Order.转发单号)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">拆包人：</label>
                        <span>@DP.Txt(Model.Order.拆包人)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">拆包时间：</label>
                        <span>@(DP.Txt(Model.Order.拆包时间))</span>
                    </div>
                    <div class="form-group col-12">
                        <label class="static-label">拆包人员备注：</label>
                        <div>@DP.Txt(Model.Order.拆包人员备注)</div>
                    </div>
                </div>
            </fieldset>
        }
        @if (Model.Order.已售后.GetValueOrDefault())
        {
            <fieldset>
                <legend>售后</legend>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="static-label">售后操作：</label>
                        <span>@DP.Txt(Model.Order.售后操作)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">售后原因：</label>
                        <span>@DP.Txt(Model.Order.售后原因)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">售后人：</label>
                        <span>@DP.Txt(Model.Order.售后人员)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">售后时间：</label>
                        <span>@DP.Txt(Model.Order.售后时间)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">客人退回单号：</label>
                        <span>@DP.Txt(Model.Order.客人退回单号)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">售后完结：</label>
                        <span>@DP.Txt(Model.Order.售后完结)</span>
                    </div>
                    <div class="form-group col-12">
                        <label class="static-label">售后备注：</label>
                        <div>@DP.Txt(Model.Order.售后备注)</div>
                    </div>
                </div>
            </fieldset>
        }
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="BtnSubmit">提交</button>
        </div>
    </div>
</div>
