@model EditOrderViewModel
@{
    ViewBag.Title = "售后";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vw-shouhou-order vw-order-form" data-page-js="shouhouorder">
    @Html.Partial("_Nav")
    <h2>@ViewBag.Title</h2>
    <div class="form">
        <input type="hidden" name="ID" id="LblOrderID" value="@Model.Order.ID.Value" />
        <fieldset>
            <legend>采购</legend>
            <div class="row">
                <div class="form-group col-12">
                    <a href="@Model.Order.商品图片" target="_blank">
                        <img src="@Model.Order.商品图片" class="product-image" />
                    </a>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">进货日期：</label>
                    <span>@DP.Txt(Model.Order.进货日期)</span>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">采购人：</label>
                    <span>@DP.Txt(Model.Order.采购人)</span>
                </div>
                <div class="form-group col-6" @(Model.Order.高亮.GetValueOrDefault() ? "data-high-light=true" : "")>
                    <label class="static-label">JD订单号：</label>
                    <span id="LblJD订单号">@DP.Txt(Model.Order.JD订单号)</span>
                    <a href="javascript:void(0)" class="btn-copy-clipboard" data-clipboard-target="#LblJD订单号">复制</a>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">货号：</label>
                    <span id="Lbl货号">@DP.Txt(Model.Order.货号)</span>
                    <a href="javascript:void(0)" class="btn-copy-clipboard" data-clipboard-target="#Lbl货号">复制</a>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">店铺名称：</label>
                    <span>@DP.Txt(Model.Order.店铺名称)</span>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">京东价：</label>
                    <span>@DP.Txt(Model.Order.京东价)</span>
                </div>
                <div class="form-group col-12">
                    <label for="Txt客人地址">客人地址：</label>
                    <input type="text" class="form-control" name="客人地址" id="Txt客人地址" value="@(Model.Order.客人地址)" maxlength="150" />
                    <span class="validator" id="vd客人地址" data-required="" data-validate-target="#Txt客人地址"><span class="error-message text-danger">此项必填</span></span>
                </div>
                <div class="form-group col-12">
                    <label class="static-label">SKU及采购备注：</label>
                    <div>@DP.Txt(Model.Order.采购备注)</div>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">淘宝账号：</label>
                    <span>@DP.Txt(Model.Order.淘宝账号)</span>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">淘宝订单号：</label>
                    <span id="Lbl淘宝订单号">@DP.Txt(Model.Order.淘宝订单号)</span>
                    <a href="javascript:void(0)" class="btn-copy-clipboard" data-clipboard-target="#Lbl淘宝订单号">复制</a>
                </div>
                <div class="form-group col-6">
                    <label class="static-label">进货数量：</label>
                    <span>@DP.Txt(Model.Order.进货数量)</span>
                </div>
            </div>
        </fieldset>
        @if (Model.Order.已跟进.GetValueOrDefault())
        {
            <fieldset>
                <legend>跟进订单</legend>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="static-label">来-快递：</label>
                        <span>@DP.Txt(Model.Order.来快递)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">来-快递单号：</label>
                        <span>@Html.Raw(DP.Baidu(Model.Order.来快递单号))</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">发货时间：</label>
                        <span>@DP.Txt(Model.Order.发货时间)</span>
                    </div>
                    <div class="form-group col-12">
                        <label class="static-label">发货备注：</label>
                        <div>@DP.Txt(Model.Order.发货备注)</div>
                    </div>
                </div>
            </fieldset>
        }
        @if (Model.Order.已导入.GetValueOrDefault())
        {
            <fieldset>
                <legend>电话客服导入</legend>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="static-label">导入时间：</label>
                        <span>@DP.Txt(Model.Order.导入时间)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">电话客服：</label>
                        <span>@DP.Txt(Model.Order.电话客服)</span>
                    </div>
                    <div class="form-group col-12">
                        <label class="static-label">电话情况：</label>
                        <div>@DP.Txt(Model.Order.电话备注)</div>
                    </div>
                </div>
            </fieldset>
        }
        @if (Model.Order.已拆包.GetValueOrDefault())
        {
            <fieldset>
                <legend>拆包审单</legend>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="static-label">审单操作：</label>
                        <span>@DP.Txt(Model.Order.审单操作)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">转发单号：</label>
                        <span>@DP.Txt(Model.Order.转发单号)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">拆包人：</label>
                        <span>@DP.Txt(Model.Order.拆包人)</span>
                    </div>
                    <div class="form-group col-6">
                        <label class="static-label">拆包时间：</label>
                        <span>@(DP.Txt(Model.Order.拆包时间))</span>
                    </div>
                    <div class="form-group col-12">
                        <label class="static-label">拆包人员备注：</label>
                        <div>@DP.Txt(Model.Order.拆包人员备注)</div>
                    </div>
                </div>
            </fieldset>
        }
        <fieldset>
            <legend>售后</legend>
            <div class="row">
                <div class="form-group col-6">
                    <label for="Ddl售后操作ID">售后操作：</label>
                    <select class="form-control" name="售后操作ID" id="Ddl售后操作ID">
                        @foreach (var op in Model.售后操作DataSource)
                        {
                            <option value="@op.ID.Value" @(Model.Order.售后操作ID == op.ID.Value ? "selected" : "")>@op.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group col-6">
                    <label for="Ddl售后原因ID">售后原因：</label>
                    <select class="form-control" name="售后原因ID" id="Ddl售后原因ID">
                        @foreach (var op in Model.售后原因DataSource)
                        {
                            <option value="@op.ID.Value" @(Model.Order.售后原因ID == op.ID.Value ? "selected" : "")>@op.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="Txt客人退回单号">客人退回单号：</label>
                    <input type="text" class="form-control" name="客人退回单号" id="Txt客人退回单号" maxlength="50" value="@DP.Txt(Model.Order.客人退回单号, "")" />
                </div>
                <div class="form-group col-6">
                    <label for="Txt淘宝退回单号">退回淘宝单号：</label>
                    <input type="text" class="form-control" name="淘宝退回单号" id="Txt淘宝退回单号" maxlength="50" value="@DP.Txt(Model.Order.淘宝退回单号, "")" />
                </div>
                <div class="form-group col-6">
                    <label>售后完结：</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="售后完结" data-type="bool" id="Chk售后完结" @(Model.Order.售后完结.GetValueOrDefault() ? "checked" : "") />
                        <label class="form-check-label" for="Chk售后完结">是</label>
                    </div>
                </div>
                <div class="form-group col-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="高亮" data-type="bool" id="Chk高亮" @(Model.Order.高亮.GetValueOrDefault() ? "checked" : "") />
                        <label class="form-check-label" for="Chk高亮">高亮</label>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="Txt售后备注">售后备注：</label>
                    <textarea class="form-control" name="售后备注" id="Txt售后备注">@DP.Txt(Model.Order.售后备注, "")</textarea>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="BtnSubmit">提交</button>
        </div>
        @if (!string.IsNullOrEmpty(Model.Order.订单修改备注))
        {
            <div class="form-group">
                <label class="static-label">订单修改备注</label>
                <div>@Html.Raw(DP.Txt(Model.Order.订单修改备注, raw: true))</div>
            </div>
        }
    </div>
</div>
